
* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    font-family: 'MICROSOFT YAHEI', sans-serif;
}

.container {
    width: 100%;
    background: url("../img/bg.png") repeat;
    background-size: 35%;
}

.container div.rule {
    position: absolute;
    color: white;
    font-size: 12px;
    padding: 10px;
}

.container div.share {
    position: relative;
    color: white;
    font-size: 12px;
    padding: 10px;
    animation-name: flash;
    animation-iteration-count: infinite;
    display: inline-block;
    animation-duration: 2s;
    animation-delay: 300ms;
    border: 1px solid white;
    border-radius: 5px;
    top: 10px;
    left: 10px;
    box-shadow: 0 0 10px white;
}

.container .logo {
    height: 300px;
    position: relative;
    top: 30px;
}

.container .music #music_icon {
    background: url("../css/normalmusic.svg") no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg)
    }
}

#music_icon.playing {
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.container .logo img {
    width: 170px;
    pointer-events: none;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: block;
}

.container .logo .shadow {
    animation-name: breath;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.container .logo .paihangbang {
    width: 40px;
    position: relative;
    left: 105px;
    top: 160px;
}

.text-center {
    text-align: center !important;
    padding-bottom: 60px;
}

@keyframes breath {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

.container .rank-board {
    margin-top: 60px;
}

.container .rank-board .board {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    position: relative;
}

.container .rank-board .board img {
    width: 100%;
    pointer-events: none
}

.container .rank-board .board span {
    color: white;
    position: absolute;
}

.container .rank-board .board .school {
    width: 100%;
    display: block;
    text-align: center;
}

.container .rank-board .board-1 img {
    animation-name: flash;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.container .rank-board .board-1 span.school {
    top: 0;
    line-height: 55px;
    color: #DE5E60;
    text-shadow: 0 0 10px #DE5E60;
}

.container .rank-board .board-2 span.school {
    top: 0;
    line-height: 98px;
    color: #EAD477;
    text-shadow: 0 0 10px #EAD477;
}

.container .rank-board .board-3 span.school {
    top: 0;
    line-height: 115px;
    color: #EAD477;
    text-shadow: 0 0 10px #EAD477;
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    65% {
        opacity: 1;
    }
    70% {
        opacity: .6;
    }
    75% {
        opacity: 1;
    }
    85% {
        opacity: .6;
    }
    95% {
        opacity: 1;
    }
}

.ranking-hint {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.qr-place {
    position: relative;
    height: 220px;
}

.qr-place img.placeholder {
    position: absolute;
    width: 200px;
    margin: 0 auto;
    left: 0;
    right: 0;
    animation-name: flash;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 400ms;
    pointer-events: none;
}

.qr-place #qr-code,
.qr-place #qr-uber {
    position: absolute;
    width: 160px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20px;
    z-index: 9;
}

.hint {
    color: white;
    font-size: 12px;
    width: 260px;
    display: block;
    text-align: center;
    margin: 0 auto 20px;
    line-height: 25px;
    font-weight: 700;
}

.hint .big {
    font-size: 20px;
}

.btn-group {
    text-align: center;
}

.btn-group .btn {
    width: 45%;
    background: #2e6f9f;
    margin-bottom: 10px;
    display: inline-block;
    padding: 4px 0;
    border-radius: 2px;
    color: white;
    box-shadow: 0 0 5px #2e6f9f;
    opacity: .8;
}

.last {
    width: 100%;
    margin-top: 50px;
}

.uber-logo {
    width: 100px;
    display: block;
    margin: 0 auto;
}

.rule-popup-window,
.share-popup-window {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/bg.png") repeat;
    background-size: 35%;
    display: none;
}

.rule-popup-window img,
.share-popup-window img {
    width: 100%;
}

.close-btn {
    width: 36px !important;
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;
}

.qr-place .hint {
    margin-top: 50px;
    margin-bottom: 20px;
}

.qr-uber {
    height: 300px;
}

.qr-uber #qr-uber {
    top: 90px;
}